<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error">
                <%= errorMessage %>
            </div>
        <% } %>
        <form class="form" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email"s>
            </div>
            <div class="centered">
                <button class="btn" type="submit">Reset Password</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            </div>            
        </form>
    </main>
<%- include('../includes/end.ejs') %>